h1{
    font-size: 60px;
    font-family: "Times New Roman", Times, serif;
    padding-top: 150px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 180px;
  }
  
  p {
    font-size: 25px;
    font-family: "Lucida Console", Courier, monospace;
    padding-right: 300px;
    padding-bottom: 80px;
    padding-left: 280px;
    text-align: center;
  }
